*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: " Poppins", sans-serif;
}
body {
    background-color: #dfe9f5;
    height: 100vh;
    display: grid;
    place-items: center;
}
.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 0 2em;
    gap: 3em;
}
.card {
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2.5em 0;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h3 {
    width: 70%;
    padding: 0.6em 0;
    color: white;
    border-radius: 5px 35px 35px 5px;
    position: relative;
    margin-left: -0.6em;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0.15em;
}
h1 {
    font-size: 2em;
    margin: 0.8em 0;
    color: #07001f;
}
.card ul {
    list-style: none;
}
li {
    position: relative;
    margin: auto;
    width: 60%;
    padding-bottom: 0.4em;
    color: #000742;
}
ul li:not(:last-child) {
    margin-bottom: 1.8em;
    border-bottom: 1px solid #a4a5aa;
}
button {
    font-size: 1.2em;
    margin-top: 2.5em;
    width: 80%;
    padding: 1em 0;
    border: none;
    color: white;
    border-radius: 5px;
}
.standard h3,
.standard button {
    background: linear-gradient(45deg, #ffe01c, #f8a71b);
}
.premium h3,
.premium button {
    background: linear-gradient(45deg, #bff524, #45ba45);
}
.advanced h3,
.advanced button {
    background: linear-gradient(45deg, #00cdf3, #0179e9);
}
@media screen and (max-width: 1000px) {
    body {
        display: block;
    }
    .container {
        display: flex;
        flex-direction: column;
        padding: 2em 1em;
        gap: 6em;
    }
    .card {
        width: 80%;
        margin: auto;
        min-width: 350px;
    }
}


